#walrus-showing {
  display: none;
}
#walrus-fadeIn {
  display: none;
}

#walrus-slideDown {
  display: none;
}

.slideable {
  cursor: pointer;
  color: #0088cc;
}

.slideable:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.fadeable{
  cursor: pointer;
  color: #0088cc;
}

.fadeable:hover {
  text-decoration: underline;
}

img {
  width: 320px;
  height: inherit;
}
