#walrus-showing {
  display: none;
}
#walrus-fadeIn {
  display: none;
}

#walrus-slideDown {
  display: none;
}

#inverted{
  display: none;
}

.slideable {
  cursor: pointer;
  color: #0088cc;
}

.slideable:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.fadeable{
  cursor: pointer;
  color: #0088cc;
}

.fadeable:hover {
  text-decoration: underline;
}

img {
  width: 320px;
  height: inherit;
}

h1 {
  font-weight: bold;
  font-family: monospace;
  font-size: 4em;
}

.inverted{
  background-color: black;
  color: white;
}

.normal{
  background-color: white;
  color: black;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.boxwrap {
  border: 3px;
  border-style: solid;
  border-color: purple;
}
